img {
    border: 2px dashed slategray;
}

body {
    font-family: fantasy, serif;
    background-color: #edddaa;
}

p::first-letter {
    font-size: 200%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    color: #333;
    text-align: center;
}

.figure p {
    font-family: monospace;
    font-style: italic;
    color: saddlebrown;
}

.figure {
    text-align: center;
}